{% extends 'base.html.twig' %}

{% block title %}Person Form{% endblock %}

{% block body %}
    <h1>Person Form</h1>
    <div style="margin-bottom: 16px;">
        <a href="{{ path('person_list') }}">
            <button type="button">Ver listado</button>
        </a>
    </div>
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.birthDate) }}
        {{ form_row(form.work) }}
        {{ form_row(form.acceptsCommercial) }}
    {{ form_end(form) }}
{% endblock %}